body{
    background-color: darkgrey;
}

.conteiner{
    display: flex;
   
}
.product{
    width: 50%;
    margin-top: 50px;
    margin-left : 80px;
    
    
}
.product-details{
width: 500px;
}
.paragraph{
    line-height: 30px;
}
.title{
    font-size: 50px;
}

.btn{
padding: 6px 30px;
background-color: red;
border-radius: 5px;
font-size: 16px;
}
.camera{
    width: 50%;
}
.camera img{
    width: 70%;
   border: 1px solid rgb(184, 186, 190);
   border-radius: 50%;
}

/*----popular callection----*/

.Popular-Collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin: 119px;
}
.collection{
    background-color: white;
    align-items: center;
    border-radius: 10px;
    border: 12px solid white;
}

.product-description{
    line-height: 5px;
   
}
.product-title{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 14px;
}
.product-rate{
    font-size: 25px;
}
.fa-star{
    color: #FFC014;
    font-size: 12px;
}
.rating{
    padding-left: 7px;
}


/*---walmart---*/

.walmart{
    display: flex;
    margin: 10%;
}
.walmart-bannar{
    width: 50%;
}

.walmart-bannar img{
    width: 80%;
}
.Walmart-Locations{
    width: 50%;
}

/*---footer---*/

footer{
background-color: rgb(5, 2, 56);
color: white;
text-align: center;
}